body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: #DAE0E6;
}

div {
  display: block;
}

p {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a, button {
  font-family: Noto Sans Bold,Arial,sans-serif;
}

textarea {
  resize: none;
}

.bold-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #1c1c1c;
  font-family: IBM Plex Sans Bold,Arial,sans-serif;
}

.light-text {
  font-weight: 100;
  font-size: small;
  font-family: IBM Plex Sans,Arial,sans-serif;
  opacity: 0.7;
}

.medium-text {
  font-family: IBM Plex Sans Medium,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #1a1a1b;
}



.main-cont {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}


.post-cont {
  min-height: 1000px;
  width: 100%;
  margin-top: 28px;
}



.single-post {
  border: 1px solid black;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.single-post:hover {
  border: 1px solid gray;
  z-index: 1;
}


.side-page-cont {
  margin-left: 24px;
  margin-top: 28px;

  flex: 0 0 312px;
  width: 312px;

  border: 1px solid black;
  border-radius: 4px;
}


.side-page {
  width: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.side-header {
  border: 1px solid #FFF;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
  padding: 0;
}

.post-cont-topbar {
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 16px;
  padding: 10px 12px;

  background-color: #fff;
}

.top-com-list {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-bottom: thin solid #CCC;
}


.personal-home-cont {
  padding: 12px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
}

.p-home-banner {
  background-image: url('https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png');
  background-size: cover;

  width: 100%;
  background-position-y: center;
  background-position-x: center; 
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 34px;
}

.p-home-header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.p-home-header > p {
  margin-left: 10px;
  margin-top: 30px;
}

#p-home-moogle {
  background: url('https://www.redditstatic.com/desktop2x/img/id-cards/snoo-home@2x.png');
  background-size: 40px 68px;
  height: 68px;
  width: 40px;


}


#create-links button, a {
  justify-content: center;
  margin-top: 12px;
  width: 100%;
}

.main-spacer {
  margin-top: 16px;
  width: 312px;
  background-color: #fff;
}

#banner {
  height: 64px;
  text-align: center;
  /* background-color: #ff4500; */
  background-image: url('https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png');
  /* opacity: 0.7; */
  width: 100%;

}

#banner > h2 {
  padding: 5px;
  padding-left: 100px;
  position: absolute;
}


@media screen and (min-width: 640px) {
  .main-cont {
    padding: 20px 24px;
  }
}


@media screen and (min-width: 960px) {
  .post-cont {
    width: 640px;
  }
}


@media screen and (min-width: 640px) {
  .single-post {
    border-radius: 4px;
    padding-left: 40px;
  }
}