.community-page, .com-form-cont {
  transition: margin-top .3s ease;
  padding-top: 48px;
  margin-top: 48px;
  padding: 8px 16px;
  /* min-height: calc(100vh - 48px); */
  display: flex;
  flex-direction: column;
}



.main-com-cont {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}

.com-header {
  display: flex;
  background: rgb(51, 168, 255);
  height: 64px;
  border-radius: 5px;
}

.com-menu-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.com-content {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin: 0 auto;
  margin-top: 10px;
}


.create-post-cont {
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  background-color: #fff;
}

.create-post-top {
  text-align: center;
}

.create-post-body {
  margin: 16px;
}

.create-post-title {
  margin-bottom: 8px;
}

.create-post-title textarea {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 20px;
  border-radius: 4px;
  resize: none;
  width: 85%;

  padding: 8px 68px 8px 16px;
  border: 1px solid #ccc;
}

.create-post-cont {
  outline: currentcolor none medium;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.create-post-content textarea {
  border-radius: 4px;
  resize: none;
  height: 50px;
  width: 85%;

  padding: 8px 68px 8px 16px;
  border: 1px solid #ccc;
}

.create-post-bar {
  display: flex;
  flex-flow: column nowrap;
}

#post-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
}


.side-page-cont {
  /* margin-top: 0; */
}