.community-page {
  transition: margin-top .3s ease;
  padding-top: 48px;
  margin-top: 48px;
  padding: 8px 16px;
  /* min-height: calc(100vh - 48px); */
  display: flex;
  flex-direction: column;
}



.main-com-cont {
  display: flex;
  text-align: center;
  justify-content: center;
}

.com-header {
  display: flex;
  background: rgb(51, 168, 255);
  height: 64px;
}

.com-menu-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


#com-btns {

}