.community-page {
  transition: margin-top .3s ease;
  /* /* padding-top: 48px;
  margin-top: 48px; */
  /* padding: 8px 16px;
   min-height: calc(100vh - 48px);  */
  display: flex;
  flex-direction: column;
} 

.com-form-cont {
  /* transition: margin-top .3s ease;
  padding-top: 48px;
  margin-top: 48px; 
  padding: 8px 16px;
  display: flex;
  flex-direction: column; */
  padding: 16px;
  max-width: 500px;
  max-height: 100%;
}

.com-form-header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #CCC;
  line-height: 20px;
  align-items: center;
  margin-bottom: 16px;
}

.com-form-header {
  font-weight: bold;
  font-size: 16px;
}

.com-form-name {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
}

.com-form-name input {
  max-height: 37px;
  width: 100%;
  padding: 4px 24px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
}

.com-name-input {
  align-items: flex-start;
}

.com-form-btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}



#com-create-btn {
  width: 100%;
  max-width: 160px;
  background: #0079D3;
  color: #FFF;
  fill: #FFF;
  border: none;
}

#com-cancel-btn {
  width: 100%;
  max-width: 80px;
  background: #FFF;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid #0079D3;
}

.main-com-cont {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  /* background: linear-gradient(75deg, #0078d377, rgb(81, 47, 143), #ff4400a1); */
  border-radius: 5px;
}

.com-header {
  display: flex;
  /* background-image: url('https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png'); */
  background: linear-gradient(45deg, rgb(20, 19, 19), #2B303A, rgb(20, 19, 19));
  background-size: cover;
  height: 64px;
  border-radius: 5px;
  padding-top: 48px;
  margin-top: 48px; 
  cursor: auto;
}

.com-menu-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  /* color: #fff; */
  width: 100%;
}

.com-content {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin: 0 auto;
  margin-top: 10px;
}



.create-post-cont,
.edit-post-cont {
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
}

.create-post-cont:hover {
  border: 1px solid gray;
  z-index: 1;
}

.create-post-top {
  text-align: center;
}

.create-post-body {
  margin: 16px;
}

.create-post-title {
  margin-bottom: 8px;
}

.create-post-title textarea {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 20px;
  border-radius: 4px;
  resize: none;
  width: 85%;

  padding: 8px 68px 8px 16px;
  border: 1px solid #ccc;
}

.create-post-cont,
.edit-post-cont {
  outline: currentcolor none medium;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.create-post-content textarea {
  border-radius: 4px;
  resize: none;
  height: 50px;
  width: 85%;

  padding: 8px 68px 8px 16px;
  border: 1px solid #ccc;
}

.create-post-bar {
  display: flex;
  flex-flow: column nowrap;
}

#post-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
}


.community-info {
  padding-left: 1rem;
  height: 100%;
  font-size: 13px;
}


.com-banner {
  display: flex;
  background: #2B303A;
  /* background: linear-gradient(45deg, #2B303A, rgb(32, 31, 109), #2B303A); */
  height: 44px;
  border-radius: 3px 3px 0 0;
  padding-left: 8px;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  border-radius: 4px;
}



.side-post-modal {
  margin-left: 150px;
  margin-top: 0;
}

.modal-post-cont {
  justify-content: center;
}


.post-wrap {
  display: flex;
  flex-direction: row;
}


.comment-cont {
  position: relative;
  margin: 24px 40px 24px 48px;
  max-width: 650px;
  padding: 0;
}

.new-comment-cont {
  border: 1px solid #EDEFF1;
  border-radius: 4px;
  width: 100%;

}

.new-comment-footer {
  display: flex;
  justify-content: right;
  background: #EDEFF1;
}

.new-comment-content textarea {
  border-radius: 4px;
  resize: none;
  height: 50px;
  width: 85%;
  padding: 8px 68px 8px 16px;
  outline: none;
  border-color: none;
}

.user-comments {
  margin-top: 16px;
  background: transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-left: -23px;
  position: relative;
  padding: 8px 0 0 8px;
}


.comment-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-comment-footer {
  display: flex;
  flex-direction: row;
  
  height: 25px;
}


.default-logo {
  height: 40px;
  width: 40px;
  background: url('default.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* #modal-content {
  /* margin-top: 30rem; 
  top: 10rem;
  position: fixed;
  height:fit-content;
  max-width: 850px;
  background-color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; 
  opacity: 1;
  border-radius: 4px;
} */